
<h1 align="center"><b>Thanks for being our awesome customer!</b></h1>
<strong text="center"><b>We have received your message and would like to thank you for writing to us. If your inquiry is urgent, please use the telephone number listed below, to talk to one of our staff members. Otherwise, we will reply by email shortly.
Talk to you soon,<p aling="right">
[Dublin House-Hold Services]</p> </b></strong>



<style>
body {background-color:lightblue;}
</style>